In [5]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

In [6]:
import datetime as dt
import pandas as pd

def epochTime(df):
    """ Converts epochTime to datetime format YYYY-MM-DD """
    
    df.drop(columns = ['Unnamed: 0'],inplace=True)
    df['Time'] = df['Time'] / 1000 - 1000
    df['Time'] = pd.to_datetime(df['Time'], unit='s').apply(lambda x: x.strftime('%Y-%m-%d'))
    df.set_index('Time', inplace=True)
    return df

In [9]:
solana_vol_df = pd.read_csv("Classwork/Data/solonaVol.csv")
solana_vol_df = epochTime(solana_vol_df)
solana_vol_df

            Solana Volume
Time
2020-04-10   9.267267e+07
2020-04-11   4.945869e+07
2020-04-12   3.782101e+07
2020-04-13   1.957921e+07
2020-04-14   1.752353e+07
...                   ...
2022-04-05   2.136267e+09
2022-04-06   3.198016e+09
2022-04-07   2.381088e+09
2022-04-08   2.314899e+09
2022-04-09   1.670543e+09

[730 rows x 1 columns]

In [10]:
bnb_vol_df = pd.read_csv("Classwork/Data/bnbVol.csv")
bnb_vol_df = epochTime(bnb_vol_df)
bnb_vol_df

            Binance Volume
Time
2020-04-09    3.652217e+08
2020-04-10    3.390273e+08
2020-04-11    3.790711e+08
2020-04-12    4.049799e+08
2020-04-13    4.153753e+08
...                    ...
2022-04-05    2.111671e+09
2022-04-06    2.227804e+09
2022-04-07    1.902419e+09
2022-04-08    1.895965e+09
2022-04-09    1.539115e+09

[731 rows x 1 columns]

In [11]:
cron_vol_df = pd.read_csv("Classwork/Data/cronVol.csv")
cron_vol_df = epochTime(cron_vol_df)
cron_vol_df

            Cronos Volume
Time
2020-04-09   7.524231e+06
2020-04-10   6.586185e+06
2020-04-11   6.679442e+06
2020-04-12   6.662411e+06
2020-04-13   5.896746e+06
...                   ...
2022-04-05   7.151299e+07
2022-04-06   8.810043e+07
2022-04-07   6.680808e+07
2022-04-08   6.642291e+07
2022-04-09   4.898937e+07

[731 rows x 1 columns]

In [12]:
eth_vol_df = pd.read_csv("Classwork/Data/ethVol.csv")
eth_vol_df = epochTime(eth_vol_df)
eth_vol_df

            Ethereum Volume
Time
2020-04-09     1.197179e+10
2020-04-10     1.413592e+10
2020-04-11     1.112899e+10
2020-04-12     1.300280e+10
2020-04-13     1.328648e+10
...                     ...
2022-04-05     1.511406e+10
2022-04-06     2.610976e+10
2022-04-07     1.614978e+10
2022-04-08     1.752394e+10
2022-04-09     1.250607e+10

[731 rows x 1 columns]

In [13]:
fantom_vol_df = pd.read_csv("Classwork/Data/fantomVol.csv")
fantom_vol_df = epochTime(fantom_vol_df)
fantom_vol_df

            Fantom Volume
Time
2020-04-09   2.173222e+06
2020-04-10   2.280835e+06
2020-04-11   2.339508e+06
2020-04-12   1.684559e+06
2020-04-13   1.955905e+06
...                   ...
2022-04-05   5.501345e+08
2022-04-06   9.302908e+08
2022-04-07   5.494603e+08
2022-04-08   4.576184e+08
2022-04-09   3.897682e+08

[731 rows x 1 columns]

In [14]:
poly_vol_df = pd.read_csv("Classwork/Data/polyVol.csv")
poly_vol_df = epochTime(poly_vol_df)
poly_vol_df

            Polymath Volume
Time
2020-04-09     1.137351e+06
2020-04-10     1.974125e+06
2020-04-11     1.217371e+06
2020-04-12     1.555734e+06
2020-04-13     1.867479e+06
...                     ...
2022-04-05     1.582625e+07
2022-04-06     2.655821e+07
2022-04-07     1.649691e+07
2022-04-08     1.403973e+07
2022-04-09     1.332954e+07

[731 rows x 1 columns]

In [15]:
tron_vol_df = pd.read_csv("Classwork/Data/tronVol.csv")
tron_vol_df = epochTime(tron_vol_df)
tron_vol_df

             Tron Volume
Time
2020-04-09  1.069727e+09
2020-04-10  1.179810e+09
2020-04-11  1.101730e+09
2020-04-12  1.092810e+09
2020-04-13  1.297979e+09
...                  ...
2022-04-05  1.400060e+09
2022-04-06  1.448266e+09
2022-04-07  9.209929e+08
2022-04-08  8.567597e+08
2022-04-09  9.913204e+08

[731 rows x 1 columns]

In [16]:
xrp_vol_df = pd.read_csv("Classwork/Data/XRPVol.csv")
xrp_vol_df = epochTime(xrp_vol_df)
xrp_vol_df

              XRP Volume
Time
2020-04-11  1.781002e+09
2020-04-12  2.018968e+09
2020-04-13  2.228365e+09
2020-04-14  1.862120e+09
2020-04-15  1.937689e+09
...                  ...
2022-04-07  2.580151e+09
2022-04-08  2.728014e+09
2022-04-09  2.248539e+09
2022-04-10  2.353543e+09
2022-04-11  3.422791e+09

[731 rows x 1 columns]

In [17]:
all_vol_df = pd.concat([solana_vol_df, bnb_vol_df, cron_vol_df, eth_vol_df, fantom_vol_df, poly_vol_df, tron_vol_df,xrp_vol_df], axis = 1)
all_vol_df.dropna(inplace = True)
all_vol_df

,Solana Volume,Binance Volume,Cronos Volume,Ethereum Volume,Fantom Volume,Polymath Volume,Tron Volume,XRP Volume
Time,,,,,,,,
2020-04-11,4.945869e+07,3.790711e+08,6.679442e+06,1.112899e+10,2.339508e+06,1.217371e+06,1.101730e+09,1.781002e+09
2020-04-12,3.782101e+07,4.049799e+08,6.662411e+06,1.300280e+10,1.684559e+06,1.555734e+06,1.092810e+09,2.018968e+09
2020-04-13,1.957921e+07,4.153753e+08,5.896746e+06,1.328648e+10,1.955905e+06,1.867479e+06,1.297979e+09,2.228365e+09
2020-04-14,1.752353e+07,4.319139e+08,5.457073e+06,1.146843e+10,1.698655e+06,2.018466e+06,1.297749e+09,1.862120e+09
2020-04-15,1.265954e+07,3.933861e+08,5.023388e+06,8.578827e+09,1.657415e+06,1.645990e+06,1.278331e+09,1.937689e+09
...,...,...,...,...,...,...,...,...
2022-04-05,2.136267e+09,2.111671e+09,7.151299e+07,1.511406e+10,5.501345e+08,1.582625e+07,1.400060e+09,2.017747e+09
2022-04-06,3.198016e+09,2.227804e+09,8.810043e+07,2.610976e+10,9.302908e+08,2.655821e+07,1.448266e+09,3.043359e+09
2022-04-07,2.381088e+09,1.902419e+09,6.680808e+07,1.614978e+10,5.494603e+08,1.649691e+07,9.209929e+08,2.580151e+09
2022-04-08,2.314899e+09,1.895965e+09,6.642291e+07,1.752394e+10,4.576184e+08,1.403973e+07,8.567597e+08,2.728014e+09
2022-04-09,1.670543e+09,1.539115e+09,4.898937e+07,1.250607e+10,3.897682e+08,1.332954e+07,9.913204e+08,2.248539e+09

In [18]:
all_vol_df.to_csv("combinedVOL.csv")

In [19]:
solana_MC_df = pd.read_csv("Classwork/Data/solonaMC.csv")
solana_MC_df = epochTime(solana_MC_df)
solana_MC_df

            Solana Market Cap
Time
2020-04-10       7.827652e+06
2020-04-11       6.173608e+06
2020-04-12       7.269680e+06
2020-04-13       6.302364e+06
2020-04-14       5.306221e+06
...                       ...
2022-04-05       4.137492e+10
2022-04-06       3.692975e+10
2022-04-07       3.889255e+10
2022-04-08       3.566301e+10
2022-04-09       3.599573e+10

[730 rows x 1 columns]

In [20]:
bnb_MC_df = pd.read_csv("Classwork/Data/bnbMC.csv")
bnb_MC_df = epochTime(bnb_MC_df)
bnb_MC_df

            Binance Market Cap
Time
2020-04-09        2.271676e+09
2020-04-10        2.073911e+09
2020-04-11        2.087482e+09
2020-04-12        2.178117e+09
2020-04-13        2.272858e+09
...                        ...
2022-04-05        7.525714e+10
2022-04-06        7.091334e+10
2022-04-07        7.349142e+10
2022-04-08        7.059567e+10
2022-04-09        7.128923e+10

[731 rows x 1 columns]

In [21]:
cron_MC_df = pd.read_csv("Classwork/Data/cronMC.csv")
cron_MC_df = epochTime(cron_MC_df)
cron_MC_df

            Cronos Market Cap
Time
2020-04-09       7.571661e+08
2020-04-10       7.040759e+08
2020-04-11       7.127033e+08
2020-04-12       7.174690e+08
2020-04-13       7.087251e+08
...                       ...
2022-04-05       1.195951e+10
2022-04-06       1.116033e+10
2022-04-07       1.135962e+10
2022-04-08       1.100808e+10
2022-04-09       1.104171e+10

[731 rows x 1 columns]

In [22]:
eth_MC_df = pd.read_csv("Classwork/Data/ethMC.csv")
eth_MC_df = epochTime(eth_MC_df)
eth_MC_df

            Ethereum Market Cap
Time
2020-04-09         1.878745e+10
2020-04-10         1.737512e+10
2020-04-11         1.748957e+10
2020-04-12         1.779041e+10
2020-04-13         1.731664e+10
...                         ...
2022-04-05         4.129449e+11
2022-04-06         3.828087e+11
2022-04-07         3.888673e+11
2022-04-08         3.826629e+11
2022-04-09         3.880360e+11

[731 rows x 1 columns]

In [23]:
fantom_MC_df = pd.read_csv("Classwork/Data/fantomMC.csv")
fantom_MC_df = epochTime(fantom_MC_df)
fantom_MC_df

            Fantom Market Cap
Time
2020-04-09       7.963133e+06
2020-04-10       7.010469e+06
2020-04-11       7.003354e+06
2020-04-12       7.166472e+06
2020-04-13       7.273140e+06
...                       ...
2022-04-05       3.714821e+09
2022-04-06       3.325379e+09
2022-04-07       3.434371e+09
2022-04-08       3.154277e+09
2022-04-09       3.211126e+09

[731 rows x 1 columns]

In [24]:
poly_MC_df = pd.read_csv("Classwork/Data/polyMC.csv")
poly_MC_df = epochTime(poly_MC_df)
poly_MC_df

            Polymath Market Cap
Time
2020-04-09         1.267565e+07
2020-04-10         1.160580e+07
2020-04-11         1.145650e+07
2020-04-12         1.175888e+07
2020-04-13         1.127164e+07
...                         ...
2022-04-05         4.377498e+08
2022-04-06         3.860890e+08
2022-04-07         3.989134e+08
2022-04-08         3.818549e+08
2022-04-09         3.857708e+08

[731 rows x 1 columns]

In [25]:
tron_MC_df = pd.read_csv("Classwork/Data/tronMC.csv")
tron_MC_df = epochTime(tron_MC_df)
tron_MC_df

            Tron Market Cap
Time
2020-04-09     8.898568e+08
2020-04-10     8.220813e+08
2020-04-11     8.257288e+08
2020-04-12     8.488375e+08
2020-04-13     8.377505e+08
...                     ...
2022-04-05     7.069255e+09
2022-04-06     6.436734e+09
2022-04-07     6.562939e+09
2022-04-08     6.342604e+09
2022-04-09     6.360527e+09

[731 rows x 1 columns]

In [26]:
xrp_MC_df = pd.read_csv("Classwork/Data/XRPMC.csv")
xrp_MC_df = epochTime(xrp_MC_df)
xrp_MC_df

            XRP Market Cap
Time
2020-04-11    8.293802e+09
2020-04-12    8.265151e+09
2020-04-13    8.299612e+09
2020-04-14    8.202410e+09
2020-04-15    8.011762e+09
...                    ...
2022-04-07    3.794499e+10
2022-04-08    3.622297e+10
2022-04-09    3.674412e+10
2022-04-10    3.640362e+10
2022-04-11    3.375855e+10

[731 rows x 1 columns]

In [27]:
all_MC_df = pd.concat([solana_MC_df, bnb_MC_df, cron_MC_df, eth_MC_df, fantom_MC_df, poly_MC_df, tron_MC_df,xrp_MC_df], axis = 1)
all_MC_df.dropna(inplace = True)
all_MC_df

,Solana Market Cap,Binance Market Cap,Cronos Market Cap,Ethereum Market Cap,Fantom Market Cap,Polymath Market Cap,Tron Market Cap,XRP Market Cap
Time,,,,,,,,
2020-04-11,6.173608e+06,2.087482e+09,7.127033e+08,1.748957e+10,7.003354e+06,1.145650e+07,8.257288e+08,8.293802e+09
2020-04-12,7.269680e+06,2.178117e+09,7.174690e+08,1.779041e+10,7.166472e+06,1.175888e+07,8.488375e+08,8.265151e+09
2020-04-13,6.302364e+06,2.272858e+09,7.087251e+08,1.731664e+10,7.273140e+06,1.127164e+07,8.377505e+08,8.299612e+09
2020-04-14,5.306221e+06,2.357467e+09,7.124800e+08,1.755992e+10,6.952163e+06,1.179834e+07,8.240657e+08,8.202410e+09
2020-04-15,5.114654e+06,2.207840e+09,6.867414e+08,1.693391e+10,6.393185e+06,1.136366e+07,8.086238e+08,8.011762e+09
...,...,...,...,...,...,...,...,...
2022-04-05,4.137492e+10,7.525714e+10,1.195951e+10,4.129449e+11,3.714821e+09,4.377498e+08,7.069255e+09,3.941132e+10
2022-04-06,3.692975e+10,7.091334e+10,1.116033e+10,3.828087e+11,3.325379e+09,3.860890e+08,6.436734e+09,3.668702e+10
2022-04-07,3.889255e+10,7.349142e+10,1.135962e+10,3.888673e+11,3.434371e+09,3.989134e+08,6.562939e+09,3.794499e+10
2022-04-08,3.566301e+10,7.059567e+10,1.100808e+10,3.826629e+11,3.154277e+09,3.818549e+08,6.342604e+09,3.622297e+10
2022-04-09,3.599573e+10,7.128923e+10,1.104171e+10,3.880360e+11,3.211126e+09,3.857708e+08,6.360527e+09,3.674412e+10

In [28]:
all_MC_df.to_csv("combinedMC.csv")