In [15]:
import pandas as pd
import helper_functions as hf

In [16]:
xrp_price_df = pd.read_csv("Data/XRP.csv")
xrp_price_df = hf.epochTime(xrp_price_df)
xrp_price_df

            XRP Price
Time
2020-04-11   0.188586
2020-04-12   0.187934
2020-04-13   0.188272
2020-04-14   0.186109
2020-04-15   0.181698
...               ...
2022-04-07   0.788300
2022-04-08   0.754960
2022-04-09   0.763627
2022-04-10   0.756278
2022-04-11   0.701034

[731 rows x 1 columns]

In [17]:
solana_price_df = pd.read_csv("Data/solona.csv")
solana_price_df = hf.epochTime(solana_price_df)
solana_price_df

            Solana Price
Time
2020-04-10      0.957606
2020-04-11      0.784711
2020-04-12      0.875994
2020-04-13      0.786712
2020-04-14      0.666673
...                  ...
2022-04-05    126.605680
2022-04-06    112.529026
2022-04-07    118.688395
2022-04-08    109.691488
2022-04-09    110.632802

[730 rows x 1 columns]

In [18]:
tron_price_df = pd.read_csv("Data/tron.csv")
tron_price_df = hf.epochTime(tron_price_df)
tron_price_df

            Tron Price
Time
2020-04-09    0.013435
2020-04-10    0.012504
2020-04-11    0.012500
2020-04-12    0.012708
2020-04-13    0.012576
...                ...
2022-04-05    0.069441
2022-04-06    0.063205
2022-04-07    0.064453
2022-04-08    0.062606
2022-04-09    0.062542

[731 rows x 1 columns]

In [19]:
poly_price_df = pd.read_csv("Data/poly.csv")
poly_price_df = hf.epochTime(poly_price_df)
poly_price_df

            PolyMath Price
Time
2020-04-09        0.020419
2020-04-10        0.018715
2020-04-11        0.018466
2020-04-12        0.018751
2020-04-13        0.018010
...                    ...
2022-04-05        0.485305
2022-04-06        0.426554
2022-04-07        0.443645
2022-04-08        0.426783
2022-04-09        0.427720

[731 rows x 1 columns]

In [20]:
fantom_price_df = pd.read_csv("Data/fantom.csv")
fantom_price_df = hf.epochTime(fantom_price_df)
fantom_price_df

            Fantom Price
Time
2020-04-09      0.003793
2020-04-10      0.003307
2020-04-11      0.003309
2020-04-12      0.003374
2020-04-13      0.003414
...                  ...
2022-04-05      1.454651
2022-04-06      1.303942
2022-04-07      1.350759
2022-04-08      1.245745
2022-04-09      1.263165

[731 rows x 1 columns]

In [21]:
eth_price_df = pd.read_csv("Data/eth.csv")
eth_price_df = hf.epochTime(eth_price_df)
eth_price_df

            Ethereum Price
Time
2020-04-09      170.095104
2020-04-10      157.740158
2020-04-11      158.327878
2020-04-12      158.863826
2020-04-13      156.701359
...                    ...
2022-04-05     3422.969884
2022-04-06     3171.371104
2022-04-07     3232.834989
2022-04-08     3192.025091
2022-04-09     3226.579728

[731 rows x 1 columns]

In [22]:
cronos_price_df = pd.read_csv("Data/cron.csv")
cronos_price_df = hf.epochTime(cronos_price_df)
cronos_price_df

            Cronos Price
Time
2020-04-09      0.053171
2020-04-10      0.049563
2020-04-11      0.050024
2020-04-12      0.050062
2020-04-13      0.049767
...                  ...
2022-04-05      0.471989
2022-04-06      0.440632
2022-04-07      0.448653
2022-04-08      0.436403
2022-04-09      0.437563

[731 rows x 1 columns]

In [23]:
bnb_price_df = pd.read_csv("Data/bnb.csv")
bnb_price_df = hf.epochTime(bnb_price_df)
bnb_price_df

            Binance Price
Time
2020-04-09      15.028759
2020-04-10      13.718826
2020-04-11      13.826759
2020-04-12      14.265117
2020-04-13      15.045573
...                   ...
2022-04-05     446.692828
2022-04-06     420.521418
2022-04-07     437.092422
2022-04-08     421.468652
2022-04-09     423.415557

[731 rows x 1 columns]

In [24]:
all_coins_df = pd.concat([xrp_price_df, solana_price_df, tron_price_df, poly_price_df, fantom_price_df, eth_price_df, cronos_price_df, bnb_price_df], axis = 1)
all_coins_df.dropna(inplace = True)
all_coins_df.to_csv('all_coins.csv')